<html>
    <head>
        <%- include('partials/head') %>
    </head>

    <body>
        <%- include('partials/navbar') %>
        <%- include('partials/sidebar') %>
        <div class="section">
            <div class="header">
                <h1> DFLEA - MainPage </h1>
                <h2> 소개</h2>
            </div>
        </div>
    </body>
</html>