<div class="sidebar">
    <a href="/items"> <i class="fas fa-cloud fa-fw"></i> Now Selling</a>
    <a href="/"> <i class="far fa-building fa-fw"></i> Recruit Data</a>
    <a href="/"> <i class="fas fa-cloud-download-alt fa-fw"></i> Download Data</a>
    <a href="/"> <i class="fas fa-cloud-upload-alt fa-fw"></i> Upload Data</a>
</div>